- var title = 'kolibridev/gulp-blender';
- var description = '';
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  title=title

  //- See gist for more info
  //- https://gist.github.com/benediktvaldez/99178633f31cbd30f794

  //- meta(name="description" content=description)

  //- meta(name="theme-color" content="#FFD100")

  //- meta(property="og:title", content=title)
  //- meta(property="og:description" content=description)
  //- meta(property="og:url" content="")
  //- meta(property="og:image" content="http://kolibri.is/img/icon/share.png")
  //- meta(property="og:image:type" content="image/png")
  //- meta(property="og:image:width" content="1200")
  //- meta(property="og:image:height" content="627")

  //- meta(name="twitter:card" content="summary_large_image")
  //- meta(name="twitter:site" content="@hellokolibri")
  //- meta(name="twitter:title" content=title)
  //- meta(name="twitter:description" content=description)
  //- meta(name="twitter:image" content="http://kolibri.is/img/icon/share.png")

  //- meta(name="apple-mobile-web-app-capable", content="yes")

  //- link(href="/img/icon/favicon.ico", rel="icon", type="image/x-icon")
  //- link(href='/img/icon/favicon.ico', rel='shortcut icon', sizes="16x16 32x32 48x48")
  //- link(href="/img/icon/48.png", rel="icon", type="image/png")

  //- link(rel="apple-touch-icon-precomposed" sizes="256x256" href="/img/icon/256.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="195x195" href="/img/icon/195.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/icon/152.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/icon/144.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="128x128" href="/img/icon/128.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/icon/120.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icon/114.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="96x96"   href="/img/icon/96.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="72x72"   href="/img/icon/72.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="57x57"   href="/img/icon/57.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="48x48"   href="/img/icon/48.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="32x32"   href="/img/icon/32.png")
  //- link(rel="apple-touch-icon-precomposed" sizes="16x16"   href="/img/icon/16.png")

  link(rel='stylesheet', href='/css/styles.css')
